<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hry.cm.team.dao.CmTeamlevelDao">

	<resultMap id="BaseResultMap" type="hry.cm.team.model.CmTeamlevel">
    </resultMap>
    
    <!-- 查询用户团队信息 -->
    <select id="findTeamByCustomerId" parameterType="java.util.Map"
    	resultMap="BaseResultMap">
        SELECT
			atl.*,
			api.trueName as trueName,
			api.surname as surName,
			api.mobilePhone as mobilePhone,
			api.email as email,
			cc.personalAchievement,
			cc.teamAchievement,
			cc.teamNum,
			api.nickName
		FROM
			app_teamlevel atl
		LEFT JOIN cm_customer cc ON atl.customerId = cc.customerId
		LEFT JOIN app_person_info api ON atl.customerId = api.customerId
		WHERE atl.parentId= #{customerId} and atl.`level`= #{level}
		ORDER BY atl.`level`,api.created asc
    </select>

</mapper>
