<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hry.social.mood.dao.SocialMoodRecordDao">

    <update id="updateMood">
        UPDATE app_person_info
        SET mood = #{mood}
        WHERE
            customerId = #{customerId}
    </update>

    <select id="findHistoryMood" resultType="hry.social.manage.remote.model.mood.SocialMoodRecord">
        SELECT
            *
        FROM
            social_mood_record
        WHERE
            customerId = #{customerId}
        ORDER BY
            id DESC
        LIMIT 100
    </select>

</mapper>
