<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hry.social.sns.dao.SocialSnsCommentDao">

    <select id="countComment" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            social_sns_comment
        WHERE
            postsId = #{postsId}
    </select>

    <select id="hasComment" resultType="java.lang.Integer">
        SELECT
            EXISTS (
                SELECT
                    *
                FROM
                    social_sns_comment
                WHERE
                    postsId = #{postsId}
                AND commentId = #{commentId}
            )
    </select>

</mapper>
