<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hry.financail.account.dao.ExDigitalmoneyAccountDao">
    <resultMap id="findPageBySqlMap"   type="hry.financail.account.model.ExDigitalmoneyAccount">
        <id column="id" property="id" javaType="java.lang.Long" />
        <result column="created" property="created" javaType="java.util.Date" />
        <result column="modified" property="modified" javaType="java.util.Date" />
        <result column="saasId" property="saasId" javaType="java.lang.String" />

        <result column="userName" property="userName" javaType="java.lang.String" />
        <result column="customerId" property="customerId" javaType="java.lang.Long" />
        <result column="hotMoney" property="hotMoney" javaType="java.math.BigDecimal" />
        <result column="coldMoney" property="coldMoney" javaType="java.math.BigDecimal" />
        <result column="lendMoney" property="lendMoney" javaType="java.math.BigDecimal" />
        <result column="currencyType" property="currencyType" javaType="java.lang.String" />
        <result column="accountNum" property="accountNum" javaType="java.lang.String" />
        <result column="publicKey" property="publicKey" javaType="java.lang.String" />
        <result column="privateKey" property="privateKey" javaType="java.lang.String" />
        <result column="coinName" property="coinName" javaType="java.lang.String" />
        <result column="coinCode" property="coinCode" javaType="java.lang.String" />

        <association property="appPersonInfo" javaType="hry.financail.customer.model.AppPersonInfo">
            <result column="created" property="created" javaType="java.util.Date" />
            <result column="modified" property="modified" javaType="java.util.Date" />
            <result column="saasId" property="saasId" javaType="java.lang.String" />

            <result column="email" property="email" javaType="java.lang.String" />
            <result column="mobilePhone" property="mobilePhone" javaType="java.lang.String" />
            <result column="country" property="country" javaType="java.lang.String" />
            <result column="trueName1" property="trueName" javaType="java.lang.String" />
            <result column="surname1" property="surname" javaType="java.lang.String" />
        </association>
    </resultMap>


    <!-- 新通过sql分页查询 -->
    <select id="findPageBySql" parameterType="java.util.Map"
            resultMap="findPageBySqlMap" >
        select
        eda.*,
        ap.email,
        ap.mobilePhone,
        ap.surname as surname1,
        ap.trueName as trueName1,
        ap.country
        from
        ex_digitalmoney_account as eda
        LEFT JOIN app_person_info
        AS ap

        ON eda.customerId = ap.customerId

        <where>
            <if test="email!=null and email!='' ">
                ap.email like #{email,jdbcType=VARCHAR}
            </if>
            <if test="mobilePhone!=null and mobilePhone!='' ">
                and ap.mobilePhone like #{mobilePhone,jdbcType=VARCHAR}
            </if>
            <if test="trueName!=null and trueName!=''">
                and ap.trueName like #{trueName,jdbcType=VARCHAR}
            </if>
            <if test="coinCode!=null and coinCode!='' " >
                and eda.coinCode = #{coinCode}
            </if>
            <if test="publicKey!=null and publicKey!=''">
                and eda.publicKey like #{publicKey,jdbcType=VARCHAR}
            </if>
        </where>

        limit #{offset},#{limit}
    </select>


    <!-- 新通过sql分页查询 -->
    <select id="findPageBySqlCount" parameterType="java.util.Map"
            resultType="java.lang.Long" >


        <if test="hasparam==false">
            select count(*) from ex_digitalmoney_account
        </if>

        <if test="hasparam==true">

            SELECT
            count(*)
            FROM
            app_person_info
            as ap
            left JOIN
            ex_digitalmoney_account
            as eda
            ON ap.customerId = eda.customerId
            <where>
                <if test="email!=null and email!='' ">
                    ap.email like #{email,jdbcType=VARCHAR}
                </if>
                <if test="mobilePhone!=null and mobilePhone!='' ">
                    and ap.mobilePhone like #{mobilePhone,jdbcType=VARCHAR}
                </if>
                <if test="trueName!=null and trueName!=''">
                    and ap.trueName like #{trueName,jdbcType=VARCHAR}
                </if>
                <if test="surname!=null and surname!=''">
                    and ap.surname like #{surname,jdbcType=VARCHAR}
                </if>
                <if test="coinCode!=null and coinCode!='' " >
                    and eda.coinCode = #{coinCode}
                </if>
                <if test="publicKey!=null and publicKey!=''">
                    and eda.publicKey like #{publicKey,jdbcType=VARCHAR}
                </if>

            </where>

        </if>





    </select>
        <!-- 查询某时间段内交易金额总和-->
    <select id="findAccountByTime" parameterType="java.util.Map"
            resultType="java.math.BigDecimal" >
          select IFNULL(SUM(r.transactionMoney),0) from ex_dm_hot_account_record r
            <where>
              1=1
                 <if test="customerId!=null and customerId!='' ">
                    AND r.customerId = #{customerId}
                 </if>
                 <if test="coinCode!=null and coinCode!='' ">
                    AND r.coinCode = #{coinCode}
                 </if>
                  <if test="recordType!=null and recordType!='' ">
                    AND r.recordType = #{recordType}
                 </if>
                  <if test="startTime!=null and startTime!='' ">
                    AND r.created &gt;= #{startTime}
                 </if>
                    <if test="endTime!=null and endTime!='' ">
                    AND r.created &lt;= #{endTime}
                 </if>
            </where>
    </select>
</mapper>


