<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit" xsi:schemaLocation="http://www.springframework.org/schema/beans  
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
	http://www.springframework.org/schema/rabbit  
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.2.xsd">
	<!--配置connection-factory，指定连接rabbit server参数 -->

		<rabbit:connection-factory id="connectionFactory"
		host="${rabbitmq.url}" port="${rabbitmq.port}" username="${rabbitmq.username}" password="${rabbitmq.password}"
		virtual-host="${rabbitmq.virtual-host}" />
	
	<!--通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成 -->
	<rabbit:admin id="connectAdmin" connection-factory="connectionFactory" />

	<!-- 定义生产者 -->
	<rabbit:queue name="toAccount" durable="true" auto-delete="false" exclusive="false" declared-by="connectAdmin" />

	<rabbit:queue name="toOtcAccount" durable="true" auto-delete="false" exclusive="false" declared-by="connectAdmin" />

	<!-- 定义direct exchange，绑定queueTest -->
	<rabbit:direct-exchange name="exchangeToTrade" durable="true" auto-delete="false" declared-by="connectAdmin">
		<rabbit:bindings>
			<rabbit:binding queue="toAccount" key="toAccountKey"></rabbit:binding>

			<rabbit:binding queue="toOtcAccount" key="toOtcAccountKey"></rabbit:binding>
		</rabbit:bindings>
	</rabbit:direct-exchange>
	
	<!--定义rabbit template用于数据的接收和发送 -->
	<rabbit:template id="rabbitTemplate" connection-factory="connectionFactory" exchange="exchangeToTrade" />


	<bean id="MessageOtcAccount" class="hry.mq.producer.service.MessageOtcAccount"></bean>

	<rabbit:listener-container connection-factory="connectionFactory" requeue-rejected="false">
		<rabbit:listener queues="toOtcAccount" ref="MessageOtcAccount" />
	</rabbit:listener-container>

</beans>