<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hry.social.task.dao.SocialTaskItemDao">
    <select id="categoryList" resultType="hry.manage.remote.model.AppDic" parameterType="String">
        SELECT
            *
        FROM
            new_app_dic
        WHERE
            pkey = #{typeKey}
    </select>

    <select id="getByTaskMark" resultType="hry.social.manage.remote.model.task.SocialTaskItem">
        SELECT
            *
        FROM
            social_task_item
        WHERE
            taskMark = #{taskMark}
    </select>

    <select id="getInviteNum" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            app_customer
        WHERE
            commendCode =#{inviteCode}
    </select>
</mapper>
