<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hry.app.account.dao.ExDigitalmoneyAccountDao">
	<resultMap id="findPageBySqlMap"   type="hry.otc.manage.remote.model.account.ExDigitalmoneyAccount">
		<id column="id" property="id" javaType="java.lang.Long" />
		<result column="created" property="created" javaType="java.util.Date" />
		<result column="modified" property="modified" javaType="java.util.Date" />

		<result column="userName" property="userName" javaType="java.lang.String" />
		<result column="customerId" property="customerId" javaType="java.lang.Long" />
		<result column="hotMoney" property="hotMoney" javaType="java.math.BigDecimal" />
		<result column="coldMoney" property="coldMoney" javaType="java.math.BigDecimal" />
		<result column="lendMoney" property="lendMoney" javaType="java.math.BigDecimal" />
		<result column="currencyType" property="currencyType" javaType="java.lang.String" />
		<result column="accountNum" property="accountNum" javaType="java.lang.String" />
		<result column="publicKey" property="publicKey" javaType="java.lang.String" />
		<result column="privateKey" property="privateKey" javaType="java.lang.String" />
		<result column="coinName" property="coinName" javaType="java.lang.String" />
		<result column="coinCode" property="coinCode" javaType="java.lang.String" />
		<result column="cardId" property="cardId" javaType="java.lang.String" />
		<association property="appPersonInfo"
			javaType="hry.otc.manage.remote.model.customer.person.AppPersonInfo">
			<result column="created" property="created" javaType="java.util.Date" />
			<result column="modified" property="modified" javaType="java.util.Date" />

			<result column="email" property="email" javaType="java.lang.String" />
			<result column="mobilePhone" property="mobilePhone" javaType="java.lang.String" />
			<result column="country" property="country" javaType="java.lang.String" />
			<result column="trueName" property="trueName" javaType="java.lang.String" />
			<result column="surname" property="surname" javaType="java.lang.String" />
		</association>
	</resultMap>

<select id="findBonusUserList" resultMap="findPageBySqlMap" parameterType="java.util.Map">
	 	SELECT
			eda.hotMoney,
			eda.customerId,
			api.cardId
		FROM
			ex_digitalmoney_account eda
		JOIN app_person_info api ON api.customerId = eda.customerId
			<where>
			   <if test="coinCode != null and coinCode != ''">
			     and eda.coinCode = #{coinCode}
			   </if>
			</where>
			<if test="pageSize != null and pageSize != ''">
				LIMIT #{currentPage},#{pageSize}
		</if>
	</select>
	
	<select id="findBonusUserListCount" resultType="java.lang.Integer" parameterType="java.util.Map">
	 	SELECT
			count(*)
		FROM
			ex_digitalmoney_account eda
		
			<where>
			   <if test="coinCode != null and coinCode != ''">
			     and eda.coinCode = #{coinCode}
			   </if>
			</where>
	</select>
	
	<select id="findMiningOrderList" resultMap="findPageBySqlMap" parameterType="java.util.Map">
		SELECT
			*
		FROM
			ex_digitalmoney_account eda
		<if test="currentPage != null and currentPage != ''">
				LIMIT #{currentPage},#{pageSize}
		</if>
	</select>
	
	<select id="findMiningOrderListcount" resultType="java.lang.Integer" >
		SELECT
			count(*)
		FROM
			ex_digitalmoney_account eda
		<if test="currentPage != null and currentPage != ''">
				LIMIT #{currentPage},#{pageSize}
		</if>
	</select>
	
	<select id="findCustomerCoin" resultMap="findPageBySqlMap" parameterType="java.util.Map">
			SELECT
				eda.customerId,
				eda.coinCode
			FROM
				ex_digitalmoney_account eda
			WHERE eda.customerId in (
			SELECT
				eda.customerId
			FROM
				ex_digitalmoney_account eda
			<where>
			  <if test="coinCode != null and coinCode != ''">
				eda.coinCode = #{coinCode} AND eda.hotMoney > 0
			  </if>
			</where>
			) 
			GROUP BY 
						eda.customerId,
						eda.coinCode
			<if test="pageSize != null and pageSize != ''">
				LIMIT #{currentPage},#{pageSize}
			</if>
	</select>
	
	<select id="findCustomerCoinCount" resultType="java.lang.Integer" parameterType="java.util.Map">
			SELECT
				count(*)
			FROM
				(
				SELECT
					eda.customerId,
					eda.coinCode
							FROM
								ex_digitalmoney_account eda
				WHERE eda.customerId in (
				SELECT
					eda.customerId
				FROM
					ex_digitalmoney_account eda
				<where>
				  <if test="coinCode != null and coinCode != ''">
					eda.coinCode = #{coinCode} AND eda.hotMoney > 0
				  </if>
				</where>
					) 
					GROUP BY 
								eda.customerId,
								eda.coinCode
					) emb
		
	</select>
	
</mapper>
